.home-container {
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 60px;
	background-color: var(--color-grey-50);
	padding: 50px;
}

.search-container {
	position: relative;
	height: 50px;
}

.search-bar {
	height: 50px;
	width: 350px;
	padding: 10px 10px 10px 40px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 1px 10px -3px var(--color-grey-400);
}

.search-icon {
	position: absolute;
	width: 24px;
	height: 24px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.region-filter {
	height: 50px;
	width: 180px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 1px 10px -3px var(--color-grey-400);
}

.countries-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 60px;
}

@media (max-width: 1280px) {
	.countries-grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}
}

@media (max-width: 1024px) {
	.countries-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}
}

@media (max-width: 640px) {
	.countries-grid {
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
	}

	.search-bar {
		width: 100%;
	}
}